        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        <title>@ViewBag.Title</title>
        
        <!-- Style Sheets -->
        <link type="text/css" href="@Url.Content("~/Content/css/Home.css")" rel="stylesheet") />
        <link type="text/css" href="@Url.Content("~/Content/css/Lightbox.css")" rel="stylesheet") />
        
        <!-- Javascript -->
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/Shared.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/AjaxTest.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/Lightbox.js")"></script>
