<div id="navigation">
    <div id="nav-home" name="">
        <a href="@Url.Content("~/")">
            <img src="@Url.Content("~/Content//Images/nav-home-clicked.png")">
        </a>
    </div>
    <div id="nav-resource-center" name="Resource">
         <a href="@Url.Content("~/Resource")">
            <img src="@Url.Content("~/Content//Images/nav-resource-center-clicked.png")">
        </a>
    </div>
    <div id="nav-hedis" name="Plan">
         <a href="@Url.Content("~/Plan/HedisSearch")">
            <img src="@Url.Content("~/Content//Images/nav-hedis-tool-clicked.png")">
        </a>
    </div>
    <div id="nav-video" name="Resource-Video">
         <a href="@Url.Content("~/Resource/Video")">
            <img src="@Url.Content("~/Content//Images/nav-videos-clicked.png")">
        </a>
    </div>
    <div id="nav-library" name="Resource-MyLibrary">
         <a href="@Url.Content("~/Resource/MyLibrary")">
            <img src="@Url.Content("~/Content//Images/nav-my-library-clicked.png")">
        </a>
    </div>
    <div id="nav-request-meeting" name="Meeting">
         <a href="@Url.Content("~/Meeting")">
            <img src="@Url.Content("~/Content//Images/nav-request-meeting-clicked.png")">
        </a>
    </div>
</div>