@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@section Script {
    <script type="text/javascript" src="@Url.Content("~/Scripts/MyLibrary.js")"></script>
}
@section Content {
    <div id="library-header">
        <h1>
            Welcome to your Library</h1>
        <h2>
            Click the icons to access your saved materials</h2>
    </div>
    <div style="position:relative">
        <div id="library-sorting">
            Sort By: <a href="#" sortBy="Date" sortDirection="Descending" name="date">Date Added</a> <a href="#" sortBy="Title" sortDirection="Ascending" name="alpha">A - Z</a>
            <a href="#" sortBy="Title" sortDirection="Descending">Z - A</a>
        </div>
        <div id="library-pagination">
            <a href="#" pagenum="1">1</a>
        </div>
    </div>
    <div id="library-bookshelf">
        <div id="library-items">
            <center>
            
            <table>
                <tr>
                    <td class="library-item">
                        <img src="@Url.Content("~/Content//Images/library-thumb.png")">
                    </td>
                    <td class="library-item">
                        <img src="@Url.Content("~/Content//Images/library-thumb.png")">
                    </td>
                    <td class="library-item">
                        <img src="@Url.Content("~/Content//Images/library-thumb.png")">
                    </td>
                </tr>
                <tr>
                    <td class="library-item">
                        <img src="@Url.Content("~/Content//Images/library-thumb.png")">
                    </td>
                    <td class="library-item">
                        <img src="@Url.Content("~/Content//Images/library-thumb.png")">
                    </td>
                    <td class="library-item">
                        <img src="@Url.Content("~/Content//Images/library-thumb.png")">
                    </td>
                </tr>
                <tr>
                    <td class="library-item">
                        <img src="@Url.Content("~/Content//Images/library-thumb.png")">
                    </td>
                    <td class="library-item">
                        <img src="@Url.Content("~/Content//Images/library-thumb.png")">
                    </td>
                    <td class="library-item">
                        <img src="@Url.Content("~/Content//Images/library-thumb.png")">
                    </td>
                </tr>
            </table>

            </center>
        </div>
        
    </div>
}
