<div id="resource-center-navigation">
    <span name="diabetes-management" id="resource-center-nav-diabetes-management">
        <a name="Diabetes Management" href="@Url.Content("/Resource/List/")">
        <img src="@Url.Content("~/Content//Images/resource-nav-diabetes-management-unclicked.png")"><img src="@Url.Content("~/Content/Images/resource-nav-diabetes-management-clicked.png")">
        </a>
    </span>
    <span name="quality-measures" id="resource-center-nav-quality-measures">
        <a name="Quality Measures" href="@Url.Content("/Resource/List/")">
        <img src="@Url.Content("~/Content//Images/resource-nav-quality-measures-unclicked.png")"><img src="@Url.Content("~/Content/Images/resource-nav-quality-measures-clicked.png")">
        </a>
    </span>
    <span name="health-economics" id="resource-center-nav-health-economics">
        <a name="Health Economics &amp; Outcomes Research" href="@Url.Content("/Resource/List/")">
        <img src="@Url.Content("~/Content//Images/resource-nav-health-economics-unclicked.png")"><img src="@Url.Content("~/Content/Images/resource-nav-health-economics-clicked.png")">
        </a>
    </span>
    <span name="medicare" id="resource-center-nav-medicare">
        <a name="Medicare" href="@Url.Content("/Resource/List/")">
        <img src="@Url.Content("~/Content//Images/resource-nav-medicare-unclicked.png")"><img src="@Url.Content("~/Content/Images/resource-nav-medicare-clicked.png")">
        </a>
    </span>
    <span name="continuity" id="resource-center-nav-continuity">
        <a name="Continuity Of Care" href="@Url.Content("/Resource/List/")">
        <img src="@Url.Content("~/Content//Images/resource-nav-continuity-unclicked.png")"><img src="@Url.Content("~/Content/Images/resource-nav-continuity-clicked.png")">
        </a>
    </span>
</div>
